<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="appName" value="jtbc_"/>
		<add key="adminFolder" value="admin2"/>
		<add key="charset" value="utf-8"/>
		<add key="connStr" value="server=localhost;uid=sa;pwd=;database=db_net;"/>
		<add key="dbtype" value="1"/>
		<add key="default_language" value="chinese"/>
		<add key="default_template" value="tpl_default"/>
		<add key="default_theme" value="default"/>
		<add key="imagesRoute" value="common/images"/>
		<add key="isApp" value="0"/>
		<add key="nurlpr" value="http://"/>
		<add key="navSpStr" value=" &amp;raquo; "/>
		<add key="ntitleSpStr" value=" - "/>
		<add key="repath" value="1"/>
		<add key="xmlsfx" value=".jtbc"/>
	</appSettings>
	<system.web>
		<compilation debug="true" targetFramework="4.0"/>
	</system.web>
</configuration>
