HTML,BODY {
	WIDTH: 100%; HEIGHT: 100%; CURSOR: default; OVERFLOW: hidden
}
BODY {
	MARGIN: 0px; PADDING: 0px; FONT-FAMILY: arial,verdana,sans-serif
}
TABLE {
	FONT-SIZE: 12px; TEXT-ALIGN: left; MARGIN: auto
}
DIV {
	FONT-SIZE: 12px
}
DIV.dfn {
	DISPLAY: none
}
FORM,UL,INPUT,SELECT,TEXTAREA {
	MARGIN: 0px; PADDING: 0px
}
INPUT,SELECT,TEXTAREA {
	FONT-SIZE: 12px; FONT-FAMILY: arial; VERTICAL-ALIGN: middle
}
INPUT.text {
	HEIGHT: 16px; PADDING: 2px; BORDER: 1px solid; BORDER-COLOR: #999999
}
INPUT.btn {
	HEIGHT: 22px; BORDER: #DCDCDC 1px solid; PADDING: 3px 5px 3px 17px; BACKGROUND: url(button.png); OVERFLOW: visible
}
INPUT.button {
	HEIGHT: 22px; BACKGROUND: #DDDDDD; BORDER: 1px solid; BORDER-COLOR: #DDDDDD #AAAAAA #AAAAAA #DDDDDD; PADDING: 3px 5px 3px 5px; OVERFLOW: visible
}
INPUT.file {
	HEIGHT: 22px; LINE-HEIGHT: 22px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; BORDER: #999999 1px solid; filter: Alpha(Opacity=0); opacity: 0
}
INPUT.checkbox {
	WIDTH: 13px; HEIGHT: 13px; BORDER: 0px; MARGIN: 2px
}
INPUT.radio {
	WIDTH: 13px; HEIGHT: 13px; BORDER: 0px; MARGIN: 2px
}
SELECT.select {
	HEIGHT: 22px; LINE-HEIGHT: 18px
}
TEXTAREA.textarea {
	OVERFLOW-Y: scroll; PADDING: 2px; BORDER: #999999 1px solid
}
TEXTAREA.codearea {
	FONT-FAMILY: monospace; OVERFLOW-Y: scroll; PADDING: 2px; BORDER: #999999 1px solid
}
IMG {
	BORDER: 0px
}
IMG.absmiddle {
	VERTICAL-ALIGN: middle
}
#body {
	WIDTH: 100%; HEIGHT: 100%; POSITION: relative; BACKGROUND: #022B02 center center repeat-x; BACKGROUND-ATTACHMENT: fixed; -MOZ-USER-SELECT: none
}
#ContextMenu {
	POSITION: absolute; Z-INDEX: 10001
}
#ContextMenu UL {
	LIST-STYLE: none; WIDTH: 120px; COLOR: #000000; BACKGROUND: #FFFFFF; BORDER: #B4B4B4 1px solid
}
#ContextMenuUL {
	POSITION: absolute; LEFT: 0px; TOP: 0px
}
#ContextMenuUL LI {
	POSITION: relative; MARGIN: 2px
}
#ContextMenuUL LI SPAN {
	DISPLAY: block; WIDTH: 100px; PADDING-LEFT: 15px; PADDING-TOP: 2px; PADDING-BOTTOM: 2px
}
#ContextMenuUL LI UL {
	POSITION: absolute; LEFT: 116px; TOP: -3px; DISPLAY: none
}
#ContextMenuUL LI DIV.more {
	POSITION: absolute; RIGHT: 5px; TOP: 5px
}
#ContextMenuUL LI.over {
	BACKGROUND: #BEBEBE;
}
#ContextMenuUL LI.out {
	BACKGROUND: #FFFFFF;
}
#Desktop {
	WIDTH: 100%; HEIGHT: 100%; POSITION: relative
}
#Desktop .lnk {
	POSITION: absolute; WIDTH: 52px; HEIGHT: 52px
}
#Desktop .lnk .selected {
	BACKGROUND: #288B42
}
#Desktop .lnk .space {
	WIDTH: 52px; HEIGHT: 2px; DISPLAY: block
}
#Desktop .lnk .icon {
	POSITION: relative; WIDTH: 52px; HEIGHT: 32px; DISPLAY: block; TEXT-ALIGN: center
}
#Desktop .lnk .text {
	WIDTH: 52px; LINE-HEIGHT: 18px; DISPLAY: block; TEXT-ALIGN: center; VERTICAL-ALIGN: middle; OVERFLOW: hidden; COLOR: #FFFFFF
}
#Desktop .lnk .text INPUT {
	WIDTH: 100%; BORDER: 0px; BACKGROUND: transparent; COLOR: #FFFFFF; HEIGHT: 18px; LINE-HEIGHT: 18px; TEXT-ALIGN: center
}
#Menu {
	WIDTH: 100%; HEIGHT: 25px; POSITION: absolute; LEFT: 0px; BOTTOM: 0px; Z-INDEX: 10000
}
#MenuContent {
	POSITION: relative
}
#MenuContent UL {
	LIST-STYLE: none; WIDTH: 150px; FONT-SIZE: 14px; COLOR: #222222; BACKGROUND: #58AC58; BORDER: #4B854B 1px solid
}
#MenuContentUL {
	POSITION: absolute; LEFT: 0px; BOTTOM: 0px
}
#MenuContentUL LI {
	POSITION: relative; PADDING: 5px
}
#MenuContentUL LI UL {
	POSITION: absolute; LEFT: 150px; TOP: -1px; DISPLAY: none
}
#MenuContentUL LI DIV.more {
	POSITION: absolute; RIGHT: 10px; TOP: 10px
}
#MenuContentUL LI.over {
	BACKGROUND: #74D274;
}
#MenuContentUL LI.out {
	BACKGROUND: #58AC58;
}
#MenuContentUL LI SPAN {
	DISPLAY: block; WIDTH: 100%
}
#MenuStart {
	WIDTH: 95px; HEIGHT: 25px; PADDING-LEFT: 5px; BACKGROUND: url(bg.2.png)
}
#MenuStart SPAN {
	LINE-HEIGHT: 25px; FONT-SIZE: 14px; FONT-WEIGHT: bold; COLOR: #FFFFFF
}
#MenuBar {
	BACKGROUND: url(bg.3.png)
}
#MenuBarDIV {
	WIDTH: 100%; HEIGHT: 25px; OVERFLOW: hidden
}
#MenuBarDIV DIV {
	FLOAT: left; WIDTH: 125px; HEIGHT: 20px; LINE-HEIGHT: 20px; PADDING-LEFT: 5px; MARGIN-TOP: 3px; MARGIN-LEFT: 4px; BACKGROUND: #58AC58; COLOR: #FFFFFF
}
#MenuBarDIV DIV.checked {
	BACKGROUND: #7FFA7F; COLOR: #000000
}
#MenuSpace1 {
	WIDTH: 50px; TEXT-ALIGN: center; BACKGROUND: url(bg.3.1.png)
}
#MenuSpace2 {
	WIDTH: 50px; TEXT-ALIGN: center; BACKGROUND: url(bg.3.2.png); COLOR: #FFFFFF
}
.ash {
	COLOR: #666666
}
.ash1 {
	FONT-SIZE: 11px; FONT-FAMILY: pMingLiu; COLOR: #999999
}
.conts {
	WIDTH: 90%; PADDING: 2px; COLOR: #666666
}
.commendatory-state-0 {
	MARGIN-LEFT: 5px; DISPLAY: none
}
.commendatory-state-1 {
	MARGIN-LEFT: 5px; DISPLAY: inline
}
.dialogAlert {
	WIDTH: 320px
}
.dialogConfirm {
	WIDTH: 320px
}
.dialogTitle {
	POSITION: relative; WIDTH: 100%; HEIGHT: 70px; BACKGROUND: url(dialog.bg.top.png)
}
.dialogTitle SPAN {
	POSITION: absolute; TOP: 7px; RIGHT: 9px; WIDTH: 11px; HEIGHT: 11px
}
.dialogContent {
	WIDTH: 100%; LINE-HEIGHT: 150%; COLOR: #333333; BACKGROUND: url(dialog.bg.middle.png); TEXT-ALIGN: center
}
.dialogControl-1 {
	POSITION: relative; WIDTH: 100%; HEIGHT: 90px; BACKGROUND: url(dialog.bg.bottom.1.png)
}
.dialogControl-2 {
	POSITION: relative; WIDTH: 100%; HEIGHT: 90px; BACKGROUND: url(dialog.bg.bottom.2.png)
}
.dialogButton0 {
	POSITION: absolute; TOP: 36px; LEFT: 122px; WIDTH: 79px; HEIGHT: 27px
}
.dialogButton0 INPUT.dialogButton {
	WIDTH: 100%; HEIGHT: 27px; filter: Alpha(Opacity=0); Opacity: 0
}
.dialogButton1 {
	POSITION: absolute; TOP: 36px; LEFT: 73px; WIDTH: 79px; HEIGHT: 27px
}
.dialogButton1 INPUT.dialogButton {
	WIDTH: 100%; HEIGHT: 27px; filter: Alpha(Opacity=0); Opacity: 0
}
.dialogButton2 {
	POSITION: absolute; TOP: 36px; LEFT: 170px; WIDTH: 79px; HEIGHT: 27px
}
.dialogButton2 INPUT.dialogButton {
	WIDTH: 100%; HEIGHT: 27px; filter: Alpha(Opacity=0); Opacity: 0
}
.jloader {
	BACKGROUND: #FFFFFF; PADDING-LEFT: 8px; BORDER: #666666 1px solid
}
.jloader DIV {
	BACKGROUND: url(jloading.gif) left center no-repeat; HEIGHT: 48px; LINE-HEIGHT: 48px; PADDING-LEFT: 40px; PADDING-RIGHT: 8px; COLOR: #666666
}
.jimgPreview {
	BACKGROUND: url(iloading.gif) #FFFFFF center center no-repeat; MIN-WIDTH: 24px; MIN-HEIGHT: 24px; PADDING: 5px; BORDER: #AFAFAF 1px solid
}
.login {
	WIDTH: 400px; BACKGROUND: #FFFFFF; BORDER: #133C1F 1px solid
}
.loginTD {
	HEIGHT: 25px; PADDING-LEFT: 10px; PADDING-RIGHT: 5px; FONT-WEIGHT: bold; BACKGROUND: url(bg.1.png); COLOR: #FFFFFF
}
.progress {
	CURSOR: progress
}
.popup {
	WIDTH: 320px; BACKGROUND: #FFFFFF; BORDER: #AFAFAF 1px solid
}
.popupTitle {
	POSITION: relative; WIDTH: 100%; HEIGHT: 25px; BACKGROUND: #D8D8D8; BORDER-BOTTOM: #C6C6C6 1px solid
}
.popupTitle DIV {
	MARGIN-LEFT: 7px; HEIGHT: 25px; LINE-HEIGHT: 25px; FONT-WEIGHT: bold; COLOR: #5A5A5A
}
.popupTitle SPAN {
	POSITION: absolute; TOP: 7px; RIGHT: 9px; WIDTH: 11px; HEIGHT: 11px
}
.popupContent {
	WIDTH: 300px; MAX-HEIGHT: 300px; PADDING: 10px; OVERFLOW-X: hidden; OVERFLOW-Y: auto
}
.popup2 {
	WIDTH: 640px; BACKGROUND: #FFFFFF; BORDER: #AFAFAF 1px solid
}
.popup2Title {
	POSITION: relative; WIDTH: 100%; HEIGHT: 25px; BACKGROUND: #D8D8D8; BORDER-BOTTOM: #C6C6C6 1px solid
}
.popup2Title DIV {
	MARGIN-LEFT: 7px; HEIGHT: 25px; LINE-HEIGHT: 25px; FONT-WEIGHT: bold; COLOR: #5A5A5A
}
.popup2Title SPAN {
	POSITION: absolute; TOP: 7px; RIGHT: 9px; WIDTH: 11px; HEIGHT: 11px
}
.popup2Content {
	WIDTH: 620px; MAX-HEIGHT: 300px; PADDING: 10px; OVERFLOW-X: hidden; OVERFLOW-Y: auto
}
.hand {
	CURSOR: pointer
}
.hidden {
	DISPLAY: none
}
.highlight {
	COLOR: #CC0000
}
.relative {
	POSITION: relative
}
.text-state-1 {
	COLOR: #666666
}
.windows {
	BACKGROUND: #FFFFFF; BORDER: #407A3F 1px solid
}
.windowsT {
	BACKGROUND: #FFFFFF; BORDER: #407A3F 1px solid; filter: Alpha(Opacity=80); Opacity: 0.8
}
.windowsTitle {
	POSITION: relative; BACKGROUND: url(bg.4.png); HEIGHT: 26px; LINE-HEIGHT: 24px; PADDING-LEFT: 5px; COLOR: #FFFFFF
}
.windowsShade {
	POSITION: absolute; WIDTH: 100%; LEFT: 0px; TOP: 26px
}
.windowsControl {
	POSITION: absolute; RIGHT: 3px; TOP: 2px
}
.windowsControl IMG {
	MARGIN-LEFT: 2px
}
.windowsResize {
	POSITION: absolute; RIGHT: 0px; BOTTOM: 0px; WIDTH: 7px; HEIGHT: 6px; BACKGROUND: url(resize.1.png); CURSOR: se-resize
}
.windowsContent {
	WIDTH: 100%; HEIGHT: 100%; BORDER: #1D5A2E 1px solid
}
.windowsContent-Menu {
	WIDTH: 100%; HEIGHT: 28px; BACKGROUND: url(line.1.png) #E2E2E2 bottom left repeat-x
}
.windowsContent-Menu DIV {
	FLOAT: left; MARGIN: 3px 0px 3px 5px; LINE-HEIGHT: 20px; PADDING: 0px 5px 0px 5px; COLOR: #555555
}
.windowsContent-Menu DIV.checked {
	BACKGROUND: #BEBEBE; COLOR: #000000
}
.windowsContent-Menu DIV.selected {
	BACKGROUND: #BEBEBE
}
.windowsContent-Panel {
	POSITION: relative; WIDTH: 100%; HEIGHT: 100%
}
.windowsContent-Panel-Loading {
	POSITION: absolute; RIGHT: 0px; BOTTOM: 0px; PADDING: 5px; BACKGROUND: #FFFFFF; COLOR: #333333; Z-INDEX: 10; DISPLAY: none
}
.windowsContent-Panel-History {
	POSITION: absolute; RIGHT: 12px; TOP: 12px; Z-INDEX: 12
}
.windowsContent-topPanel {
	POSITION: absolute; LEFT: 0px; TOP: 0px; WIDTH: 100%; HEIGHT: 50px; BACKGROUND: #DCDCDC; BORDER-BOTTOM: #AFAFAF 1px solid; Z-INDEX: 0
}
.windowsContent-topPanel DIV {
	FLOAT: left; HEIGHT: 22px; MARGIN: 5px; PADDING: 8px; BORDER: #DCDCDC 1px solid
}
.windowsContent-topPanel DIV.checked {
	BACKGROUND: #E9E9E9; COLOR: #000000; BORDER: #AFAFAF 1px solid
}
.windowsContent-topPanel DIV.selected {
	BACKGROUND: #FFFFFF; COLOR: #000000; BORDER: #AFAFAF 1px solid
}
.windowsContent-leftPanel {
	WIDTH: 180px; PADDING-TOP: 50px; BACKGROUND: #E9E9E9; BORDER-RIGHT: #AFAFAF 1px solid
}
.windowsContent-leftPanel .tablel {
	WIDTH: 170px; MARGIN-TOP: 8px; BACKGROUND: #FFFFFF; BORDER: #AFAFAF 1px solid
}
.windowsContent-leftPanel .tablel .tit {
	PADDING-LEFT: 5px; PADDING-RIGHT: 5px; LINE-HEIGHT: 22px; BACKGROUND: #E9E9E9; FONT-WEIGHT: bold
}
.windowsContent-leftPanel .tablel .txt {
	PADDING-LEFT: 5px; PADDING-RIGHT: 5px; HEIGHT: 25px; LINE-HEIGHT: 25px
}
.windowsContent-leftPanel .tablel .slng SPAN {
	FLOAT: left; WIDTH: 50%; HEIGHT: 20px; LINE-HEIGHT: 20px
}
.windowsContent-leftPanel .tablel .slng IMG.hidden {
	WIDTH: 4px; HEIGHT: 7px; VISIBILITY: hidden 
}
.windowsContent-leftPanel .tablel .slng IMG.inherit {
	WIDTH: 4px; HEIGHT: 7px; VISIBILITY: inherit 
}
.windowsContent-rightPanel {
	PADDING-TOP: 50px; BACKGROUND: #FFFFFF
}
.windowsContent-rightPanel .tabler {
	WIDTH: 100%; TABLE-LAYOUT: fixed; BORDER: 0px
}
.windowsContent-rightPanel .tabler .tdl {
	WIDTH: 10px
}
.windowsContent-rightPanel .tabler .tdr {
	WIDTH: 32px
}
.windowsContent-rightPanel .tabler .tdimg {
	WIDTH: 25px
}
.windowsContent-rightPanel .tabler .tit {
	BACKGROUND: url(bg.5.0.png); HEIGHT: 24px; LINE-HEIGHT: 24px
}
.windowsContent-rightPanel .tabler .txt {
	PADDING-TOP: 3px; PADDING-BOTTOM: 3px
}
.windowsContent-rightPanel .tabler .nimg {
	TEXT-ALIGN: right; PADDING-TOP: 3px; PADDING-BOTTOM: 3px
}
.windowsContent-rightPanel .tabler .cutepage {
	TEXT-ALIGN: right; PADDING-TOP: 5px; PADDING-BOTTOM: 5px
}
.windowsContent-rightPanel .tabler .cutepage A {
	MARGIN-LEFT: 3px; PADDING-TOP: 2px; PADDING-BOTTOM: 2px; PADDING-LEFT: 4px; PADDING-RIGHT: 4px; BORDER: #AFAFAF 1px solid; VERTICAL-ALIGN: middle
}
.windowsContent-rightPanel .tabler .cutepage A.selected {
	COLOR: #F00000
}
.windowsContent-rightPanel .tabler .cutepage INPUT {
	WIDTH: 20px; PADDING-TOP: 2px; PADDING-BOTTOM: 2px; MARGIN-LEFT: 3px; PADDING-LEFT: 4px; PADDING-RIGHT: 4px; BORDER: #AFAFAF 1px solid
}
.windowsContent-rightPanel .tabler .selected-switch {
	HEIGHT: 25px; TEXT-ALIGN: right; COLOR: #333333; PADDING-BOTTOM: 10px
}
.windowsContent-rightPanel .tabler TR.selected {
	BACKGROUND: #E9E9E9
}
.windowsContent-rightPanel-Content {
	POSITION: relative; WIDTH: 100%; HEIGHT: 100%; TOP: 1px; OVERFLOW-X: hidden; OVERFLOW-Y: scroll
}