*
{
    font-size: 12px;
    font-family: 微软雅黑, arial, verdana, sans-serif;
}
body
{
    margin: 0px;
    padding: 0px;
    background-color: #0096d4;
}
table
{
    border-right: 0px;
    border-top: 0px;
    border-left: 0px;
    border-bottom: 0px;
}
a
{
    color: #000000;
    font-style: normal;
    text-decoration: none;
}
a:hover
{
    color: #666666;
    font-style: normal;
    text-decoration: underline;
}
a:active
{
    color: #000000;
    font-style: normal;
    text-decoration: underline;
}
.table
{
    border-right: #ffffff 1px solid;
    border-left: #ffffff 1px solid;
}
.foot
{
    border-right: #ffffff 1px solid;
    padding-right: 1px;
    border-top: #ffffff 1px solid;
    padding-left: 1px;
    padding-bottom: 1px;
    border-left: #ffffff 1px solid;
    color: #ffffff;
    padding-top: 1px;
    border-bottom: #ffffff 1px solid;
    letter-spacing: 1px;
    background-color: #173667;
}
.red
{
    color: #ff0000;
}
.red a
{
    color: #ff0000;
    font-style: normal;
    text-decoration: none;
}
.red a:hover
{
    color: #336633;
    font-style: normal;
    text-decoration: underline;
}
.red a:active
{
    color: #ff0000;
    font-style: normal;
    text-decoration: underline;
}
.green
{
    color: #336633;
}
.green a
{
    color: #336633;
    font-style: normal;
    text-decoration: none;
}
.green a:hover
{
    color: #cc0066;
    font-style: normal;
    text-decoration: underline;
}
.green a:active
{
    color: #336633;
    font-style: normal;
    text-decoration: underline;
}
.ash
{
    color: #666666;
}
.tbg
{
    background: #173667;
    color: #ffffff;
    text-decoration: none;
}
.tbtop
{
    padding-left: 10px;
    font-weight: bold;
    background: url(admin_bg_1.gif);
    color: #ffffff;
}
.trr
{
    background: #d6dff7;
}
.trw
{
    background: #0096d4;
}
.lrbtline
{
    border-right: #0081b4 1px solid;
    border-top: #0081b4 1px solid;
    background: #ffffff;
    border-left: #0081b4 1px solid;
    border-bottom: #0081b4 1px solid;
}
.sec_menu
{
    border-right: #0081b4 1px solid;
    background: #ffffff;
    border-left: #0081b4 1px solid;
    border-bottom: #0081b4 1px solid;
}
.menu_title
{
    cursor: pointer;
}
.menu_title span
{
    font-weight: bold;
    left: 8px;
    color: #ffffff;
    position: relative;
    top: 2px;
}
.hrs
{
    color: #f6f6f6;
    height: 1px;
}
input.text
{
    border-top: #ABADB3 1px solid;
    border-right: #DBDFE6 1px solid;
    border-bottom: #DBDFE6 1px solid;
    border-left: #DBDFE6 1px solid;
    height: 22px;
    background-color: white;
}
button.button
{
    padding: 0px 0px 0px 13px;
    border: #C0C0C0 1px solid;
    background: url(bg_button.gif) no-repeat;
    height: 22px;
}
select
{
    color: #173667;
    height: 22px;
}
.ash1
{
    color: #999999;
    font-size: 11px;
}
.titlelink 
{
    color: White;
}
.titlelink:hover
{
    color: White;
}
.bg1
{
    background-color: #F4F4F4;
}
.text-state-1
{
    color: #666666;
}
a img
{
    border: 0;
}
#loading
{
    display: none;
    position: absolute;
    top: 5px;
    left: 5px;
    padding: 1px 6px;
    background-color: #AA0000;
    color: White;
    font-size: 10px;
}
.hidden
{
    display: none;
}
.hand
{
    cursor: pointer;
}
.absmiddle
{
    vertical-align: middle;
}
.cutepage
{
}
.cutepage a
{
    margin-left: 3px;
    padding: 2px 5px;
    background-color: #EAEAEA;
    color: #444444;
}
.cutepage a.selected
{
    color: #000000;
    text-decoration: underline;
}
.selected-switch
{
}
/*
.cutepage
{
    text-align: right;
}
.cutepage a
{
    margin-left: 3px;
    padding: 2px 4px;
    border: #AFAFAF 1px solid;
    text-decoration: none;
}
.cutepage a:hover
{
    text-decoration: none;
}
.cutepage a.selected
{
    color: #F00000;
    text-decoration: none;
}
.cutepage input
{
    width: 20px;
    padding: 2px 4px;
    margin-left: 3px;
    border: #AFAFAF 1px solid;
}
*/